<template>

  <div id="app">

    <img src="./assets/logo.png">
    <h1>{{ welcome }}</h1>

    <div id="app-list">
      <input v-model.number="number" type="number" placeholder="Enter something">
      <button @click="resetList">Reset</button>
      <h3>Number entered is: {{ number }}</h3>
      <p v-if="number <= 0" style="color: red;">Number must be greater than 0!</p>
      <div class="list-container">
        <ul>
          <li v-for="item in items">{{ item.itemList }}</li>
        </ul>
      </div>
    </div>

  </div>

</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      welcome: 'Hello Vue!',
      number: null
    }
  },
  methods: {
    /* setNumber(e){
      this.number = this.number 
    }, only if not v-model is used, triggered by v-on:any events. (click, keyup.enter,...)*/
    resetList(){
      this.number = 0;
    }
  },
  computed: {
    items(){
      const data = []
      for (var i = 0; i < this.number; i++){
        data.push({ itemList: 'I am number '+ (i+1) })
      }
      return data
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  text-align: center;
}

#app-list {
  text-align: left;
}
#app-list {
  margin: 20px auto;
  text-align: center;
}

#app-list ul {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

#app-list ul li {
  width: 100px;
  margin: 2px auto;
  color: blue;
  list-style: none;
  text-transform: uppercase;
  border: 1px solid #000;
}
</style>
